header {
  display: flex;
  align-items: center;         
  justify-content: flex-start; 
  gap: 2rem;                   
  padding: 10px 20px;
  background-color: black;
}

header h1 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 1.5rem;                
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

nav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 2em;
}



body { 
    background-color: black;
} 
